<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UI Views</title>

  <script>
    try {
      if ( window.App ) {
        console.warn("App defined.");
      } else {
        App = {};
      }
    } catch (err) {
      App = {};
    }
    App.UI = App.UI || {};
    App.Modules = App.Modules || {};
  </script>

  <link href="views.css" rel="stylesheet">

  <script src="../../vendor/neon.min.js"></script>
  <script src="../../lib/modules/AnimationSupport.js"></script>
  <script src="../../lib/modules/ChildrenSupport.js"></script>
  <script src="ViewsManager.js"></script>
  <script src="View.js"></script>
  
  <script>

    var PagesManager = App.UI.ViewsManager,
      Page = App.UI.View,
      allPages = [
        { title : 'Lorem Ipsum', url : '/lorem-ipsum' },
        { title : 'Test', url : '/test' },
        { title : 'Far Far Away', url : '/Far Far Away'  }
      ],
      totalPages = allPages.length;

    document.addEventListener("DOMContentLoaded", function() {

      var $pages = document.getElementById('pages'),
        pagesTmp = document.createDocumentFragment();

      pagesManager = new PagesManager({
        element : $pages,
        className : 'ui-views-manager'
      });

      var createPage = function createPage(data) {
        var newPage = pagesManager.createChild(Page, {
          className : 'page',
          data : data
        });
        newPage.bind('activate', function() {
          console.log('Page Title:', this.data.title);
        })
        return newPage;
      };

      for (var i=0; i < totalPages; ++i) {
        createPage(allPages[i]).render(pagesTmp);
        /*
        router.createChild(Route, {
          path : page.url,
          exec : page.activate
        });
         */
      }
      pagesManager.element.appendChild(pagesTmp);
      pagesManager.getFirstChild().activate();

    }, false);
  
  </script>
  
</head>
<body>

  <div id="pages"></div>

</body>
</html>
