<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UI Views</title>

  <script>
    try {
      if ( window.App ) {
        console.warn("App defined.");
      } else {
        App = {};
      }
    } catch (err) {
      App = {};
    }
    App.UI = App.UI || {};
    App.Modules = App.Modules || {};
  </script>

  <link href="views.css" rel="stylesheet">

  <script src="../../vendor/neon.min.js"></script>
  <script src="../../lib/modules/WidgetAnimator.js"></script>
  <script src="../../lib/modules/ChildrenManager.js"></script>
  <script src="ViewsManager.js"></script>
  <script src="View.js"></script>
  
  <script>

    document.addEventListener("DOMContentLoaded", function() {

      // Cache view manager and views elements
      var $pages = document.getElementById('pages'),
        $sections = $pages.getElementsByTagName('section'),
        totalViews = $sections.length;

      // Instantiate Views Manager class
      pages = new App.UI.ViewsManager({
        element : $pages,
        className : 'ui-views-manager'
      });

      // Instantiate each View class
      var page = App.UI.View;
      for (var i=0; i < totalViews; ++i) {
        pages.createChild(page, {
          element : $sections[i],
          className : 'ui-view'
        });
      }
      
      pages.getFirstChild().activate();

    }, false);
  
  </script>
  
</head>
<body>

  <div id="pages">

    <section class="page">
      <article>
        <p>Timeline</p>
      </article>
    </section>

    <section class="page">
      <article>
        <p>About</p>
      </article>
    </section>
    
    <section class="page">
      <article>
        <p>Blog</p>
      </article>
    </section>

  </div>

</body>
</html>
